.App{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

.header{
    flex: 30%;
    background: rgb(8,0,255);
    background: linear-gradient(90deg, rgba(8,0,255,1) 0%, rgba(197,198,255,1) 72%, rgba(35,244,245,1) 100%);    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .inputContainer{
    display: flex;
    flex-direction: column;
}

.header .input{
    width: 200px;
    height: 40px;
    border: none;
    border-bottom-left-radius:8px;
    border-top-left-radius:8px;
    padding-left: 10px;
}

.todoList{
    flex: 70%;
    width: 100%;
}

.todoListContainer{
    display: flex;
    height:90%;
    width: 60%;
}

.todoListContainer ul {
    list-style: none;

}